<!-- <p-toast/> -->
<header
  class="d-flex flex-wrap align-items-center justify-content-center justify-content-md-between py-3 mb-4 border-bottom bg-dark text-light"
>
  <div class="col-md-3 mb-2 mb-md-0">
    <h6 class="m-2">Employee Management System</h6>
  </div>

  <!-- <ul class="nav col-12 col-md-auto mb-2 justify-content-center mb-md-0">
        <li><a href="#" class="nav-link px-2 link-secondary">Home</a></li>
        <li><a href="#" class="nav-link px-2">Features</a></li>
        <li><a href="#" class="nav-link px-2">Pricing</a></li>
        <li><a href="#" class="nav-link px-2">FAQs</a></li>
        <li><a href="#" class="nav-link px-2">About</a></li>
      </ul> -->
  <span class="badge">Hello,{{username}}</span>
  <div class="col-md-3 text-end">
    <button type="button" class="btn btn-outline-primary me-2" routerLink="/login" routerLinkActive="active">Login</button>
    <button type="button" class="btn btn-outline-danger me-2"  (click)="onClickLogout()" routerLinkActive="active">Logout</button>
  </div>
</header>
